<h1>Películas en cartelera</h1>
    <div class="row">
    	<div class="col-sm-6 col-md-3" ng-repeat="movie in movies">
       		<div class="thumbnail">
        		<img ng-src="{{movie.image}}" alt="">
           			<div class="caption">
        				<h3>{{movie.title}}</h3>
         				<p>{{movie.description}}</p>
         				<h4>Tandas</h4>
         				<div ng-repeat="showtime in movie.times">
          					<p><a href="#" class="btn btn-primary" role="button" ng-click = "chooseMovie(movie, showtime.time)">{{showtime.time}}</a></p>
         				</div>
       				</div>
      			</div>
         	</div>
        </div>
    </div>
<script src="../lib/angular/angular.js"></script>
<script src="../lib/angular/angular-route.js"></script>
<script src="../app.js"></script>